body {
  background-color: #444444;
}

/*  NavBar style goes here */
.menu-bar {
  font-family: "Poppins", sans-serif;
  background: rgba(40, 58, 90, 0.9);
  margin-left: 20px;
  padding-top: 20px;
  &__icon {
    @media screen and (max-width: 576px) {
      position: absolute;
      left: 1%;
    }
    & span {
      @media screen and (max-width: 576px) {
        margin-left: 2px;
      }
    }
  }
  & a {
    color: #ffffff;
    margin-left: 20px;
    padding-top: 15px;
    @media screen and (max-width: 576px) {
      display: inline;
      margin-left: 0px;
      padding-right: 0px;
    }
    & menu-btn {
      margin-left: 20px;
      font-family: "Poppins", sans-serif;

      @media screen and (max-width: 576px) {
        width: 150px;
        height: 75px;
      }
    }
  }
}

/* introduction section style goes here */
.intro {
  background: rgba(40, 58, 90, 0.9);
  &__text {
    margin-top: 10px;
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      @media screen and (max-width: 576px) {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        margin-top: 5px;
      }
    }
    p {
      font-family: "Poppins";
      color: rgba(255, 255, 255, 0.6);
      font-size: 24px;
      margin-bottom: 50px;
      @media screen and (max-width: 576px) {
        font-size: 18px;
      }
    }
    button {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 28px 11px 28px;
      border-radius: 50px;
      transition: 0.5s;
      margin: 10px 0 0 0;
      color: #fff;
      background: #47b2e4;
      transition: width 2s linear 5s;
      &:hover {
        background: #209dd8;
        width: 200px;
        height: 50px;
      }
    }
    a {
      align-content: space-around;
      img {
        margin-right: 5px;
      }
      span {
        font-family: "Poppins";
        font-weight: 12px;
      }
    }
  }
}

/* intro image animation*/
.animate_img {
  animation: MoveUpDown 5s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}
@keyframes MoveUpDown {
  0%,
  50% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

/* clients images style */
.client {
  background-color: lightgray;
  &__images {
    background-color: lightgray;
    img {
      margin-right: 5px;
      filter: grayscale(100%);
      &:hover {
        filter: none;
        transform: scaleY(1.5);
        transition: width 2s linear 5s;
      }
    }
  }
}

/* About Us style goes here */
