body {
  background-color: #444444;
}

.menu-bar {
  font-family: "Poppins", sans-serif;
  background: rgba(40, 58, 90, 0.9);
  margin-left: 20px;
  padding-top: 20px;
  & a {
    color: #ffffff;
    margin-left: 20px;
    padding-top: 15px;
    @media screen and (max-width: 576px) {
      display: inline;
      margin-left: 0px;
    }
    & menu-btn {
      margin-left: 20px;
      font-family: "Poppins", sans-serif;
    }
  }
}
