body {
  background-color: #444444;
}

/*  NavBar style goes here */
.menu-bar {
  font-family: "Poppins", sans-serif;
  background: rgba(40, 58, 90, 0.9);
  margin-left: 20px;
  padding-top: 20px;
  &__icon {
    @media screen and (max-width: 576px) {
      position: absolute;
      left: 1%;
    }
    & span {
      @media screen and (max-width: 576px) {
        margin-left: 2px;
      }
    }
  }
  & a {
    color: #ffffff;
    margin-left: 20px;
    padding-top: 15px;
    @media screen and (max-width: 576px) {
      display: inline;
      margin-left: 0px;
      padding-right: 0px;
    }
    & menu-btn {
      margin-left: 20px;
      font-family: "Poppins", sans-serif;
      @media screen and (max-width: 576px) {
        width: 150px;
        height: 75px;
      }
    }
  }
}

/* introduction section style goes here */
.intro {
  background: rgba(40, 58, 90, 0.9);
  &__text {
    margin-top: 10px;
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
    }
    p {
      font-family: "Poppins";
      color: rgba(255, 255, 255, 0.6);
      font-size: 24px;
      margin-bottom: 50px;
    }
    button {
      margin-top: 50px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 10px 28px 11px 28px;
      border-radius: 50px;
      transition: 0.5s;
      margin: 10px 0 0 0;
      color: #fff;
      background: #47b2e4;
    }
    & __media {
      @media screen and (max-width: 576px) {
        margin-bottom: 20px;
      }
      a {
        margin-right: 2px;
      }
      span {
        margin-left: 3px;
      }
    }
  }
  &intro__image {
    img {
      @media screen and (max-width: 576px) {
        margin-top: 10px;
      }
    }
  }
}
