body {
  background-color: #444444;
}

.menu-bar {
  font-family: "Poppins", sans-serif;
  background: rgba(40, 58, 90, 0.9);
  margin-left: 20px;
  padding-top: 20px;
  &__icon {
    @media screen and (max-width: 576px) {
      position: absolute;
      left: 1%;
    }
    & span {
      @media screen and (max-width: 576px) {
        margin-left: 2px;
      }
    }
  }
  & a {
    color: #ffffff;

    @media screen and (max-width: 576px) {
      display: inline;
      margin-left: 0px;
      padding-right: 0px;
    }
    & menu-btn {
      margin-left: 20px;
      font-family: "Poppins", sans-serif;
      @media screen and (max-width: 576px) {
        width: 150px;
        height: 75px;
      }
    }
  }
}
